In [1]:
import pandas as pd

In [2]:
time_col = [
    'MinSubTime', 
    'MinSubRnd1Time',  
    'MinSubRnd3Time', 
    'MinSubRnd5Time', 
    'MinCardTime' 
]

count_col = [
    'MinSubCount', 
    'MinSubRnd1Count',
    'MinSubRnd3Count', 
    'MinSubRnd5Count',
    'MinCardCount'
]

## Breast Cancer

In [3]:
df = pd.read_csv('../result/breast_cancer_coimbra/result.csv')

In [4]:
df.isnull().sum()

age                0
bmi                0
glucose            0
insulin            0
HOMA               0
leptin             0
adiponectin        0
resitin            0
MCP_1              0
y_actual           0
y_pred             0
MinSub             0
MinSubTime         0
MinSubCount        0
MinSubRnd1         0
MinSubRnd1Time     0
MinSubRnd1Count    0
MinSubRnd3         0
MinSubRnd3Time     0
MinSubRnd3Count    0
MinSubRnd5         0
MinSubRnd5Time     0
MinSubRnd5Count    0
MinCard            0
MinCardTime        0
MinCardCount       0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df[count_col].describe()

,MinSubCount,MinSubRnd1Count,MinSubRnd3Count,MinSubRnd5Count,MinCardCount
count,116.000000,116.000000,116.000000,116.000000,116.000000
mean,7.034483,7.077586,6.887931,6.862069,6.827586
std,1.070807,1.104543,1.140340,1.148886,1.181568
min,5.000000,5.000000,5.000000,5.000000,5.000000
25%,6.000000,6.000000,6.000000,6.000000,6.000000
50%,7.000000,7.000000,7.000000,7.000000,7.000000
75%,8.000000,8.000000,8.000000,8.000000,8.000000
max,9.000000,9.000000,9.000000,9.000000,9.000000

In [7]:
df[time_col].describe()

       MinSubTime  MinSubRnd1Time  MinSubRnd3Time  MinSubRnd5Time  MinCardTime
count  116.000000      116.000000      116.000000      116.000000   116.000000
mean     0.127899        0.124946        0.402076        0.675617     8.448884
std      0.021847        0.016679        0.055296        0.076618     1.489581
min      0.104762        0.106037        0.323846        0.554185     4.716186
25%      0.118654        0.116436        0.369412        0.622474     7.532608
50%      0.123653        0.122177        0.386066        0.662191     8.976517
75%      0.128430        0.127963        0.412726        0.706598     9.715259
max      0.220043        0.218418        0.678865        1.020850    10.398744

In [8]:
(df['MinCardCount'] <= df['MinSubCount']).sum()

116

In [9]:
(df['MinSubRnd5Count'] - df['MinCardCount']).describe()

count    116.000000
mean       0.034483
std        0.183257
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
dtype: float64

In [10]:
(df['MinSubCount'] - df['MinCardCount']).describe()

count    116.000000
mean       0.206897
std        0.427678
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
dtype: float64

## Iris

In [11]:
df = pd.read_csv('../result/iris/result.csv')

In [12]:
df[count_col].describe()

,MinSubCount,MinSubRnd1Count,MinSubRnd3Count,MinSubRnd5Count,MinCardCount
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,2.393333,2.393333,2.353333,2.346667,2.346667
std,0.490126,0.490126,0.479606,0.477503,0.477503
min,2.000000,2.000000,2.000000,2.000000,2.000000
25%,2.000000,2.000000,2.000000,2.000000,2.000000
50%,2.000000,2.000000,2.000000,2.000000,2.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000

In [13]:
df[time_col].describe()

       MinSubTime  MinSubRnd1Time  MinSubRnd3Time  MinSubRnd5Time  MinCardTime
count  150.000000      150.000000      150.000000      150.000000   150.000000
mean     0.115550        0.114341        0.351159        0.592279     0.314810
std      0.046762        0.043095        0.127285        0.211154     0.107710
min      0.071953        0.072675        0.232909        0.391568     0.155563
25%      0.086542        0.087879        0.269590        0.453609     0.180642
50%      0.091369        0.094812        0.289461        0.488077     0.383589
75%      0.147944        0.111371        0.383060        0.685709     0.404952
max      0.209414        0.214463        0.653656        1.116557     0.449352

## E. Coli

In [17]:
df = pd.read_csv('../result/ecoli/result.csv')

In [18]:
df[count_col].describe()

,MinSubCount,MinSubRnd1Count,MinSubRnd3Count,MinSubRnd5Count,MinCardCount
count,120.000000,120.000000,120.000000,120.000000,120.000000
mean,5.008333,4.866667,4.600000,4.583333,4.533333
std,0.654600,0.732594,0.678605,0.693103,0.697334
min,3.000000,3.000000,3.000000,3.000000,3.000000
25%,5.000000,4.000000,4.000000,4.000000,4.000000
50%,5.000000,5.000000,5.000000,5.000000,4.500000
75%,5.000000,5.000000,5.000000,5.000000,5.000000
max,6.000000,6.000000,6.000000,6.000000,6.000000

In [19]:
df[time_col].describe()

       MinSubTime  MinSubRnd1Time  MinSubRnd3Time  MinSubRnd5Time  MinCardTime
count  120.000000      120.000000      120.000000      120.000000   120.000000
mean     0.753698        0.752061        2.299347        3.762239     9.479280
std      0.272323        0.265063        0.738460        1.125680     2.638422
min      0.343080        0.327989        0.995458        1.731481     3.121000
25%      0.553361        0.550006        1.737639        2.950332     7.108095
50%      0.676273        0.721553        2.201437        3.617556    10.103953
75%      0.912685        0.833014        2.585660        4.452596    11.199462
max      1.733674        1.727846        4.441727        7.114954    15.313174

## Echocardiogram

In [20]:
df = pd.read_csv('../result/echocardiogram/result.csv')

In [21]:
df[count_col].describe()

,MinSubCount,MinSubRnd1Count,MinSubRnd3Count,MinSubRnd5Count,MinCardCount
count,106.000000,106.000000,106.000000,106.000000,106.000000
mean,5.339623,5.169811,4.773585,4.754717,4.688679
std,1.094460,1.125223,1.097903,1.085062,1.089895
min,4.000000,4.000000,4.000000,4.000000,4.000000
25%,4.000000,4.000000,4.000000,4.000000,4.000000
50%,5.000000,5.000000,4.000000,4.000000,4.000000
75%,6.000000,6.000000,5.000000,5.000000,5.000000
max,8.000000,8.000000,8.000000,8.000000,8.000000

In [22]:
df[time_col].describe()

       MinSubTime  MinSubRnd1Time  MinSubRnd3Time  MinSubRnd5Time  MinCardTime
count  106.000000      106.000000      106.000000      106.000000   106.000000
mean     0.126902        0.119790        0.370456        0.601893     2.972818
std      0.031159        0.025238        0.056469        0.074004     1.056927
min      0.095910        0.096880        0.291827        0.493890     1.727841
25%      0.107523        0.102763        0.331538        0.546009     2.091695
50%      0.116657        0.114824        0.357890        0.595027     2.764425
75%      0.132339        0.125904        0.395478        0.638078     3.588594
max      0.234713        0.225732        0.604339        0.912923     5.697688